# Advanced data mining and analysis in Python

## Exercise number 2:

### Name: Einav Diar
#### ID Num: 319010807

In [1]:
import requests
import json
import pandas as pd

In [2]:
# Read the file
with open('dests.txt', 'r') as file:
    destinations = [line.strip() for line in file.readlines()]

# Define my API keys
distance_matrix_api_key = ""
geocoding_api_key = ""

### Question 1:

In [3]:
# Set up empty lists to store data
target_list = []
distance_list = []
duration_list = []
longitude_list = []
latitude_list = []

In [4]:
for destination in destinations:
    # Make a request to the Google Maps Distance Matrix API
    distance_url = f"https://maps.googleapis.com/maps/api/distancematrix/json?units=metric&origins=Tel+Aviv&destinations={destination}&key={distance_matrix_api_key}"
    distance_response = requests.get(distance_url)
    distance_data = json.loads(distance_response.text)

    # Parse the JSON response and extract the required information
    distance = distance_data["rows"][0]["elements"][0]["distance"]["value"] / 1000  # Convert meters to kilometers
    duration = distance_data["rows"][0]["elements"][0]["duration"]["text"]

    # Make a request to the Google Maps Geocoding API
    geocoding_url = f"https://maps.googleapis.com/maps/api/geocode/json?address={destination}&key={geocoding_api_key}"
    geocoding_response = requests.get(geocoding_url)
    geocoding_data = json.loads(geocoding_response.text)

    # Parse the JSON response and extract the required information
    location = geocoding_data["results"][0]["geometry"]["location"]
    latitude = location["lat"]
    longitude = location["lng"]

    # Append the data to the respective lists
    target_list.append(destination)
    distance_list.append(distance)
    duration_list.append(duration)
    longitude_list.append(longitude)
    latitude_list.append(latitude)
    
data = {
    "Target": target_list,
    "Distance_km": distance_list,
    "Duration": duration_list,
    "Longitude": longitude_list,
    "Latitude": latitude_list
}
df = pd.DataFrame(data)

In [5]:
df

      Target  Distance_km          Duration  Longitude   Latitude
0   Istanbul     1815.227   21 hours 3 mins  28.978359  41.008238
1  Amsterdam     4527.132    2 days 0 hours   4.904139  52.367573
2   Valletta     3792.883    2 days 3 hours  14.514100  35.899237
3      Basel     4092.805    1 day 20 hours   7.588576  47.559599
4       Doha     2164.477  22 hours 39 mins  51.531040  25.285447

### Question 2:

In [6]:
# Select the top three cities farthest from Tel Aviv
sorted_data = df.sort_values(by="Distance_km", ascending=False)
furthest_cities = sorted_data.head(3)
furthest_cities['Target']

1    Amsterdam
3        Basel
2     Valletta
Name: Target, dtype: object